Repository GDGoC-Sookmyung-HawaSu/2024-02-Spring-Novice-ToyProject, pull requests merged in 2024-12, with the labels that each got.

#2 Refactor: 회원가입 유저 기본 role을 USER로 설정
  하은수/freelec-springboot2-webservice/.gitignore
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/config/auth/CustomOAuth2UserService.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/config/auth/SecurityConfig.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/config/auth/dto/OAuthAttributes.java
Labels: 이수연😎, 기존 코드 수정👊

#4 Refactor/posts user mapping
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/config/auth/dto/SessionUser.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/domain/posts/Posts.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/service/posts/PostsService.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/web/PostsApiController.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/web/dto/PostsListResponseDto.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/web/dto/PostsResponseDto.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/web/dto/PostsSaveRequestDto.java
  하은수/freelec-springboot2-webservice/src/main/resources/application.properties
  하은수/freelec-springboot2-webservice/src/main/resources/static/js/app/index.js
  하은수/freelec-springboot2-webservice/src/main/resources/templates/posts-save.mustache
  하은수/freelec-springboot2-webservice/src/test/java/com/jojoldu/book/springboot/domain/posts/PostsRepositoryTest.java
  하은수/freelec-springboot2-webservice/src/test/java/com/jojoldu/book/springboot/web/PostsApiControllerTest.java
Labels: 하은수✨, 기존 코드 수정👊

#6 Feat: 마이페이지 내 정보 표시
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/web/MyPageController.java
  하은수/freelec-springboot2-webservice/src/main/resources/templates/index.mustache
  하은수/freelec-springboot2-webservice/src/main/resources/templates/my-page.mustache
Labels: enhancement, 하은수✨, my page📝

#10 Feature: follow 기능 구현
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/config/auth/dto/SessionUser.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/domain/follow/Follow.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/domain/follow/FollowRepository.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/domain/user/User.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/service/FollowService.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/service/posts/PostsService.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/web/FollowController.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/web/IndexController.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/web/PostsApiController.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/web/dto/FollowDto.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/web/dto/PostsListResponseDto.java
  하은수/freelec-springboot2-webservice/src/main/resources/templates/index.mustache
Labels: enhancement, 이수연😎, follow👥

#11 Feat: 마이페이지 내가 쓴 글 섹션 추가
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/domain/posts/PostsRepository.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/service/posts/PostsService.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/web/MyPageController.java
  하은수/freelec-springboot2-webservice/src/main/resources/templates/my-page.mustache
Labels: enhancement, 하은수✨, my page📝

#13 [Refactor]: 게시글 자기 자신만 수정할 수 있도록 변경
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/service/posts/PostsService.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/web/IndexController.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/web/PostsApiController.java
  하은수/freelec-springboot2-webservice/src/main/resources/templates/posts-update.mustache
Labels: 이수연😎, 기존 코드 수정👊

#15 Feat: 마이페이지 팔로잉팔로워 목록 추가
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/web/MyPageController.java
  하은수/freelec-springboot2-webservice/src/main/java/com/jojoldu/book/springboot/web/dto/FollowDto.java
  하은수/freelec-springboot2-webservice/src/main/resources/templates/index.mustache
  하은수/freelec-springboot2-webservice/src/main/resources/templates/my-page.mustache
Labels: bug, enhancement, 하은수✨, follow👥, my page📝
